*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Common styles */
.btn{
  font-size: 16px;
  font-weight: 600;
  padding: 12.5px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #30B868;
  color: white;
  cursor: pointer;
  align-items: center;
  
}
.btn:hover {
  background-color: transparent;
  border:  1px solid #30B868;
  color: #30B868;
  transition:  0.7s ease-in-out;
}
.btn1{
  font-size: 16px;
  font-weight: 600;
  padding: 12.5px 16px;
  border-radius: 4px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  
  
}
.btn1:hover {
  background-color: #30B868;
  border:  1px solid #30B868;
  color: white;
  transition:  0.7s ease-in-out;
}


/* Main styles */
header nav{
  width: 100%;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
  align-items: center;
}
header nav img{
  max-width: 139px;
}
header nav ul{
  display: flex;
  gap: 32px;
}
header nav ul li{
  list-style: none;
}
header nav ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  line-height: 152%;
}

.btn-div{
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn1 .btn-div img{
  margin: 2px;
}
.hero{
  background-image: url("../assets/hero-bg.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 154px 0 179px 0;
}
.hero .hero-container{
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}
.hero-container .subtitle{
  display: flex;
  gap: 10px;
  max-width: 235px;
  background-color: white;
  padding: 8px 12px;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px auto;
}
.hero-container h1{
  max-width: 770px;
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: white;
  margin: 0 auto 16px auto;
}
.hero-container h1 span{
  color: #30B868;
}
.hero-container p{
  max-width: 770px;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 32px auto;
}
.hero-buttons{
  display: flex;
  align-items: center;
  gap: 16px;
  
}
.hero-container .hero-btn{
  display: inline-block;
  margin: 0 auto;
}
#notes{
  width: 100%;
  max-width: 1360px;
  margin: 60px auto 0 auto;
  text-align: center;
}
#notes h2{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
#notes p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;
}
.note-list{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.note-card{
  max-width: 322px;
  padding: 69.5px 24px;
  border-radius: 8px;
  box-shadow: 0 0 40px 0 #0000001e;
}
.note-card img{
  background-color: #f9555f;
  padding: 14px;
  border-radius: 9999px;
  margin-bottom: 16px;
}
.note-card h4{
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}
.note-card p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

#knowledge{
  width: 100%;
  max-width: 1360px;
  display: flex;
  gap: 60px;
  align-items: center ;
  margin: 120px auto ;
}
#knowledge img .st{
  width: 600px;
}

.knowledge-content .subtitle{
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #30B868;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.knowledge-content h4{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.knowledge-content .pera{
  font-size: 18px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.knowledge-content ul li{
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 16px;
}
#early-access{
  width: 100%;
  max-width: 1360px;
  padding: 80px 40px;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f6f2;
  border-radius: 12px;
}
#early-access h2{
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
#early-access .p1{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}
#early-access .p2{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 24px;
}
footer{
  background-color: #001931;
  background-position: cover;
  margin-top: 120px;
  padding-top: 120px;
  padding-bottom: 30px;
}
footer .footer-container{
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  align-items: center;
}
.footer-content img{
  width: 139px;
}
.links {
  width: 220px;
}
.links p{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  font-weight: 500;
  color: white;
  text-align: start;
}
.links .icons{
  display: flex;
  gap: 16px;
  align-items: center;
}
.fa-brands {
    font-size: 12px;
  color: black;
  
}
.icon{
  background-color: white;
  padding: 2px 3px;
  border-radius: 100%;
}
.footer-container p{
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  color: white;
}